* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: .2s;
    outline: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
}
html, body {
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header .logo {
    font-size: 3.5rem;
    color: black;
}

.cabeçalho-link a{
    color: black;
    font-size: 1.7rem;
    margin-left: 1rem;
}

.cabeçalho-link a:hover {
    background-color: var(--maincolor);
    color: white;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.cabeçalho-link .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Meio {
    padding: 200px;
    text-align: center;
    font-size: 25px;
}

.roupas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.cta {
    text-align: center;
    font-size: large;
}

.estq {
    text-align: center;
    font-size: large;
}

.container-roupas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    text-align: center;
    font-size: 15px;
}

.meio-contato {
    align-items: center;
    justify-content: space-evenly;
    display: flex;

}

.marcas {
    background: black;
    align-items: center;
    justify-content: space-between;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2rem 7%;
}

footer {
    font-size: 15px;
    align-items: center;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 20px;

}
@media screen {
    
}